include README.rst
include requirements.txt
include test-requirements.txt
include CMakeLists.txt
include files/*
include docs/*
recursive-include sciunit2/libexec *
include RELEASE-VERSION version.py
